[submodule "three"]
	path = three
	url = https://github.com/Cheikh372/Learning_dotnet.git
[submodule "threeSS"]
	path = threeSS
	url = https://github.com/Cheikh372/Learning_dotnet.git
[submodule "threeSSs"]
	path = threeSSs
	url = ./
